<div class="row  mb-2 ">
    <div class="col-12" style="padding: 0px;">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <ngb-tabset [destroyOnHide]="false">
                        <ngb-tab>
                            <ng-template ngbTabTitle><b> <i class="ft-file-minus" style=" font-size: 18px;"></i> Datos
                                    Generales</b> </ng-template>
                            <ng-template ngbTabContent>
                                <form *ngIf="formCorp" [formGroup]="formCorp">
                                    <div class="d-flex">
                                        <img [src]="imgCopr" class="img-fluid mt-3" style="max-width: 200px;">

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="nombre-corto">NOMBRE CORTO </label>
                                            <input type="text" formControlName="name" class="form-control"
                                                id="nombre-corto" placeholder="Default">
                                        </div>
                                        <div class="col-6">
                                            <label for="nombre-completo">NOMBRE COMPLETO </label>
                                            <input type="text" formControlName="nameC" class="form-control"
                                                id="nombre-completo" placeholder="Default Nismo">
                                        </div>
                                        <div class="col">
                                            <label for="users-list-status">STATUS </label>
                                            <fieldset class="form-group">
                                                <select id="users-list-status" formControlName="status"
                                                    class="form-control">
                                                    <option [value]="0">Inactivo</option>
                                                    <option [value]="1">Activo</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label for="ngbDatepicker">FECHA DE INCORPORACIÓN </label>
                                            <div class="input-group">
                                                <input class="form-control" formControlName="date"
                                                    placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary calendar"
                                                        (click)="d.toggle()" type="button"> <i class=" fa fa-calendar"
                                                            style=" font-size: 17px;"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <label for="nombre-completo">URL DELSISTEMA </label>
                                            <input type="text" class="form-control" formControlName="url"
                                                id="nombre-completo" placeholder="Nismo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-end">
                                            <button class="btn btn-secondary mr-3 " (click)="back()"> Regresar</button>
                                            <button *ngIf="!saveButton" class="btn btn-primary " type="button"
                                                (click)="enabledButton()"> Editar </button>
                                            <button *ngIf="saveButton" class="btn btn-primary " type="button"
                                                (click)="saveForm()">
                                                <span *ngIf="!saveButtonLoading">
                                                    Guardar
                                                </span>
                                                <div *ngIf="saveButtonLoading"> <span
                                                        class="spinner-border spinner-border-sm" role="status"
                                                        aria-hidden="true"></span>
                                                    Loading...
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><b> <i class="ft-users" style=" font-size: 18px;"></i>
                                    Contactos</b> </ng-template>
                            <ng-template ngbTabContent>


                                <div class="d-flex">
                                    <img [src]="imgCopr" class="img-fluid mt-3" style="max-width: 200px;">
                                </div>
                                <div class="row mt-4 mb-4">
                                    <div class="col-12">
                                        <table class="table table-striped table-sm">
                                            <thead class="" style="background-color: rgb(216, 209, 209);">
                                                <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">PUESTO</th>
                                                    <th scope="col">TELEFONO</th>
                                                    <th scope="col">CELULAR</th>
                                                    <th scope="col">EMAIL</th>
                                                    <th scope="col">OBSERVACIONES</th>
                                                    <th scope="col">ACCIONES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of contactCorp; let i =index">
                                                    <td>{{item.S_Nombre}}</td>
                                                    <td>{{item.S_Puesto}}</td>
                                                    <td>{{item.N_TelefonoFijo}}</td>
                                                    <td>{{item.N_TelefonoMovil}}</td>
                                                    <td>{{item.S_Email}}</td>
                                                    <td>{{item.S_Comentarios}}</td>
                                                    <td>
                                                        <i (click)="editContact(item)"
                                                            class="fa fa-edit mr-2 hover"></i>
                                                        <i (click)="deleteContac(item.id, i)"
                                                            class="fa fa-trash-o hover"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <form [formGroup]="formContact">
                                    <div class="row">
                                        <div class="col">
                                            <label for="nombre-corto">NOMBRE </label>
                                            <input type="text" formControlName="name" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for="nombre-corto">PUESTO </label>
                                            <input type="text" formControlName="position" class="form-control">
                                        </div>
                                        <div class="col-6">
                                            <label for="nombre-completo">COMENTARIOS</label>
                                            <input type="text" formControlName="coment" class="form-control"
                                                id="nombre-completo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="nombre-corto">TELÉFONO FIJO </label>
                                            <input type="text" formControlName="phone" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for="nombre-corto">TELÉFONO MOVIL </label>
                                            <input type="text" formControlName="mobil" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for="nombre-corto">EMAIL </label>
                                            <input type="text" formControlName="email" class="form-control">
                                        </div>
                                        <div class="col">
                                            <button *ngIf="!detailContact" class="btn btn-secondary mt-3" (click)="saveContact()">AGREGAR
                                                CONTACTO </button>
                                            <button *ngIf="detailContact" class="btn btn-secondary  mt-3" type="button"
                                                (click)="saveForm()">
                                                <span *ngIf="!saveButtonLoading">
                                                    Actualizar contacto
                                                </span>
                                                <div *ngIf="saveButtonLoading"> <span
                                                        class="spinner-border spinner-border-sm" role="status"
                                                        aria-hidden="true"></span>
                                                    Loading...
                                                </div>
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>

                    </ngb-tabset>

                </div>
            </div>
        </div>
    </div>
</div>